@import url("./fonts/index.css");
@import url("./variables/index.css");
@import url("./reset.css");
@import url("./burger.css");
@import url("./popup.css");

body {
  font-family: "Muller", sans-serif;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}

.hidden {
  overflow: hidden;
}

h1 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 800;
}

h2 {
  font-size: 35px;
  line-height: 55px;
  font-weight: 700;
}

input {
  outline: none;
}

.button {
  background-color: var(--main-color);
  font-weight: 700;
  color: #020303;
  transition: background-color 0.3s ease 0s;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Header */
.header {
  height: var(--header-height);
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--header-height);
  z-index: -1;
  box-shadow: 0px 3px 14px 1px rgba(152, 152, 152, 0.2);
}

.header__container {
  height: 100%;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 900px;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 5;
}
.header__logo-text {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--logo-text-color);
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar__link {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navbar-color);
  transition: color 0.3s ease 0s;
}

/* /Header */

/* Best pizza */
.best-pizza {
  padding: 40px 0;
}

.best-pizza__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 37px;
  min-height: calc(100vh - calc(var(--header-height) + 80px));
}

.content__title {
  color: var(--secondary-color);
  padding-bottom: 60px;
}

.content__title span {
  color: var(--main-color);
}
.content__cards {
  display: grid;
  grid-template-columns: 305px 275px;
  gap: 47px;
  padding-bottom: 60px;
}

.cards__item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.item-cards__icon {
  flex: 0 0 auto;
}

.item-cards__title {
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.item-cards__text {
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.content__button {
  width: 224px;
  height: 60px;
}

.body__image img {
  max-width: 100%;
  width: 100%;
}
/* /Best pizza */

/* Pizzas list */
.pizzas {
  padding-bottom: 239px;
}

.pizzas__title {
  text-align: center;
  color: #bd985c;
  padding-bottom: 60px;
}

.pizzas__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  justify-items: center;
  gap: 24px;
}

.pizzas-list__item {
  padding: 27px 23px 15px;
  box-shadow: 0px 3px 14px 1px rgba(152, 152, 152, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 282px;
}

.pizzas-list__image img {
  height: 155px;
}

.pizzas-list__title {
  padding-bottom: 10px;
  padding-top: 7px;
  font-size: 18px;
  font-weight: 700;
  color: #382400;
}

.pizzas-list__description {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #181a1a;
  padding-bottom: 16px;
}

.pizzas-list__button {
  width: 100%;
  height: 50px;
  margin-top: auto;
}
/* /Pizzas list */

/* Footer */
.footer {
  padding-bottom: 111px;
}

.footer__container {
  max-width: 1367px;
}

.footer__body {
  display: flex;
  align-items: flex-end;
}

.footer__column.inputs {
  min-width: 330px;
  width: 100%;
}

.footer__column.info {
  display: flex;
  flex-direction: column;
  gap: 70px;

  padding-right: 128px;
}

.footer__column.image {
  margin-right: -127px;
  display: flex;
  justify-content: flex-end;

  padding-left: 78px;
}

.footer__title {
  color: var(--main-color);
}

.footer__title span {
  color: var(--secondary-color);
}

.footer__text {
  line-height: 24px;
  color: var(--secondary-color);
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-delivery__block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.error {
  font-size: 12px;
  color: red;
  padding-bottom: 5px;
}

.form-delivery__inp {
  min-height: 60px;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  font-size: 18px;
  line-height: 45px;
  padding-left: 22px;
  color: var(--input-color);
}

.form-delivery__inp::placeholder {
  color: var(--input-color);
}

.form-delivery__button {
  height: 60px;
}
/* /Footer */

@media (any-hover: hover) {
  .button:hover {
    background-color: var(--secondary-color);
  }

  .navbar__link:hover {
    color: var(--main-color);
  }
}

@media (max-width: 1250px) {
  .best-pizza__body.body {
    flex-direction: column-reverse;
    min-height: 100%;
  }

  .content__button {
    width: 100%;
  }

  .content__cards {
    grid-template-columns: 1fr 1fr;
  }

  .footer__column.image {
    display: none;
  }

  .footer__column.info {
    padding-right: 80px;
  }

  .pizzas {
    padding-bottom: 150px;
  }
}

@media (max-width: 768px) {
  .header__navbar.navbar .navbar__list {
    display: none;
  }
  .header__navbar.navbar.open .navbar__list {
    display: flex;
  }

  .header__navbar.navbar.open {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 150px;
    background: white;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  .navbar__link {
    font-size: 25px;
  }

  .navbar__list {
    flex-direction: column;
  }

  .content__cards {
    grid-template-columns: 1fr;
  }

  .pizzas__title {
    padding-bottom: 35px;
    padding-top: 55px;
  }

  .footer__body {
    flex-direction: column;
    gap: 30px;
  }

  .footer__column.info {
    gap: 30px;
    padding-right: 0;
  }

  .footer__text {
    font-size: 14px;
  }

  .form-delivery__inp {
    min-height: 45px;
    padding-left: 16px;
  }

  .form-delivery__button {
    height: 50px;
  }

  .pizzas {
    padding-bottom: 75px;
  }

  .footer {
    padding-bottom: 50px;
  }

  .hamburger {
    display: block;
  }

  h1 {
    font-size: 33px;
    line-height: 43px;
  }

  h2 {
    font-size: 25px;
    line-height: 45px;
  }
}
