:root {
  /* colors */
  --main-color: #ffaf18;
  --secondary-color: #b99150;
  --navbar-color: #a46b00;
  --logo-text-color: #ffc468;
  --input-color: #cba86e;
  /* /colors */

  /* height */
  --header-height: 100px;
  /* /height */
}
